MONGO_URL=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=
REDIS_TICKER_MARKET_TTL=
CONFIG_INTERVAL=
APP_NAME=crypto-ticker-api
NEW_RELIC_LICENSE_KEY=
API_KEY=
NODE_ENV=
BUSGNAG_API_KEY=
LOGZIO_TOKEN=
OPEN_SEA_API_KEY=
